<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1><%=  pageTitle %></h1>
    <h3>A Database Error has occurred - We are working hard to fix this problem, sorry for the inconveniece caused.  Please try again later</h3>
    <p>Go and stick the kettle on .... This could take a while, stick on some Spotify, or watch Breaking Bad - relax!</p>
<%- include('includes/end.ejs') %>